
<div class="container mb-5">

  <div class="row mb-4 mr-4">
    <div class="col text-right">
      <div *ngIf="!isLoggin" class="text-right">
        <button type="button" class="btn btn-primary mt-3 ml-2" data-toggle="modal" data-target="#exampleModalCenter">
          Iniciar
        </button>
      </div>
      <div *ngIf="isLoggin" class="text-right">
        <button (click)="loggout()" type="button" class="btn btn-primary mt-3 ml-2" >
          Salir
        </button>
      </div>
    </div>
  </div>

  
  <div class="row">
    <div class="col">

      <div class="container">
        <div class="row">
        <div class="list-inline">
          <div class="col-lg-2 col-6 col-md-12 list-inline-item" *ngFor="let item of numbersTemp">
              <div>
                  <div class="card h-50 mt-2 cursor" 
                  [ngClass]="{'disponible': item.description === '', 'ocupado' : item.description !== '' }">
                    <div class="card-body text-center">
                      <h4 class="card-title">
                        <a class="text-white"> {{item.number}}</a>
                        
                        <div *ngIf="isLoggin" class="row mt-2">
                          <div class="form-group">
                            <!-- (change)="onChangeEvent($event.target.value,item)"  -->
                            <input class="form-control text-capitalize" (change)="onChangeEvent($event.target.value,item)" value=" {{item.description}} "  type="text"/>
                          </div>
                        </div>
                        
                      </h4>
                    </div>
                  </div>
              </div>
            </div>
            
          </div>

    </div>

    <div class="row mt-3">
      <div class="col text-right">
        <button  (click)="onSubmitSave()" class="btn btn-success btn-block" >Guardar</button>
      </div>
    </div>

  </div>


</div>




  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterTitle">Inicio de Sessión</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <form #form="ngForm" [formGroup]="auth" (ngSubmit)="onSubmitLogin()">
            <div class="form-group">
              <label for="exampleInputEmail1">Correo Electrónico</label>
              <input formControlName="email" type="email" class="form-control" [class.is-invalid]="InvalidEmailLogin"
                required />
              <small *ngIf="InvalidEmailLogin" class="text-danger">
                Verifica tu correo
              </small>
            </div>
            <div class="form-group">
              <label>Contraseña</label>
              <input formControlName="password" type="password" class="form-control"
                [class.is-invalid]="InvalidPassword" required />
              <small *ngIf="InvalidPassword" class="text-danger">
                Contraseña requerida
              </small>
            </div>
            <div class="row">
              <div class="col-12">
                <button [disabled]="auth.invalid" type="submit" class="btn btn-primary btn-block">Iniciar</button>
              </div>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>